<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<li id="post-<%= post._id %>">
    <p>
        <% if((locals.user) && (locals.user.id == post.user.id)) {%>
            <small>
                <a class="delete-post-button" href="/posts/destroy/<%= post._id %>"> X </a>
            </small>
        <% } %>
        <div>
            <div>
                <%= post.content %> <br>
                <small><%= post.user.name %></small>
            </div>
            <button href="" onclick="">
                <i class="fas fa-heart"></i>
            </button>
        </div>
    </p>
    <div id="post-comment">
        <!-- for comments -->
        <% if(locals.user) {%> 
            <form action="/comments/create" id="new-comment-form" method="post">
                <input type="text" name="content" placeholder="add Comment.." required>
                <input type="hidden" name="post" value="<%= post._id %>">
                <input type="submit" value="Add Comment">
            </form>    
        <% } %>
    </div>

    <div id="post-comments-container">
        <ul id="post-comment-<%= post._id %>">
            <% for(comment of post.comments) { %>

                <!--_comment.ejs file linked  --> 
                <%- include('_comment') -%>

            <% } %>
        </ul>
    </div>
</li>
<script src="/javascript/post_comments.js"></script>