<link rel="stylesheet" href="<%= assetPath('css/user_profile.css') %>">

<div>
    <img src="<%= user.avatar %>" alt="picture" height="200">
    <button>
        <a href="/users/delete-profile/<%= profile_user.id %>">delete profile</a>
    </button>
    <% if(user.id == profile_user.id) {%>
        
        <form action="/users/update/<%= profile_user.id %>" method="post" enctype="multipart/form-data">
            <input type="text" name="name" placeholder="Your name" value="<%= profile_user.name %>" required>
            <input type="email" name="email" placeholder="Your email" value="<%= profile_user.email %>" required>
            
            <input type="file" name="avatar" placeholder="Profile Picture">
            <input type="submit" value="update">
        </form>

    <% } else {%>
        <p> <%= profile_user.name %> </p>
        <p> <%= profile_user.email %> </p>
    <% } %>
</div>